/* font-family: 'Poiret One', cursive;
font-family: 'Quicksand', sans-serif;  */

/* hero img : '../img/talgat-baizrahmanov-206220.jpg' */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1,h2 {
   font-family: 'Caveat', cursive;
}

h1{
    font-size: 60px;
}

h2 {
   font-size: 30px;
   text-align: center;
   padding-top: 25px;
   letter-spacing: normal;
}

i {
   color: #8DA7BE;
}



/* Header Styles */

header {
   height: 100px;
   background: #CDE6F5;
   padding-top: 20px;
}

about-header {
    height: 100px;
    background: #011016;
    padding-top: 100px;


}



body {
    background-color: #011016;
}
/* Header Navigation */
.desktop-nav {
   margin-left: 25px;
}


.desktop-nav ul {
   float: right;
   margin-top: -90px;
   margin-left: 150px;
   text-align: right;
   padding: 40px 0px;
   overflow: hidden;
}

.desktop-nav li {
   float: right;
   display: inline;
   text-decoration: none;
   margin-left: 40px;
   margin-bottom: 90px;
}

.desktop-nav a {
   color:  #8DA7BE;
   text-decoration: none;
   font-family: 'Caveat', cursive;
   font-size: 20px;
}



/* about nav */


.about-desktop-nav {
  width: 100%;
  height: 70px;
  color: #011016;
  overflow-y: visible;
}


.about-desktop-nav ul {
   float: right;
   margin-top: -100px;
   text-align: right;
   padding:15px 0 50px;
}

.about-desktop-nav li {
   float: right;
   display: inline;
   text-decoration: none;
   margin-left: 40px;
   margin-bottom: -50px;
   margin-top: 30px;
}

.about-desktop-nav a {
   color:  #8DA7BE;
   text-decoration: none;
   font-family: 'Caveat', cursive;
   font-size: 20px;
}



.mobile-nav {
   display: none;
}

@media(max-width: 572px) {
   .mobile-nav {
       display:inline-block;
       float: right;
       margin-right: 25px;
       color: inherit;
   }
   .desktop-nav ul {
       display: none;
   }
   .mobile-nav .button {
   background: transparent;
   border: none;
   color: white;
   }
   button {
       margin: 300px 0;
   }
   footer {
   height: 400px;
   }
}
/* HERO */


.hero {
   height: calc(100vh - 90px);
   background-image:linear-gradient(180deg, #CDE6F5 ,transparent 60%), url('../img/talgat-baizrahmanov-206220.jpg');
   background-size: cover;
   background-position: center;
   color: #CDE6F5;
   text-align: center;

}
.hero-text {
   padding: 60px 30px;
   float: left;
}


.about-hero {
    height: calc(100vh - 90px);
    background-image:linear-gradient(180deg, #011016,transparent 60%), url('../img/rob-potter-398564.jpg');
    background-size: cover;
    background-position: center;

    ;
}

/* containers */

.logo-container {
   display: inline-block;
   padding: 5px 15px;
}

/* FOOTER */


footer {
   height: 350px;
   background-color: #CDE6F5;
}

.about-footer {
    hieght: 350px;
    background-color: #022835;
}
.social-icons {
   position: relative;
   display: inline-block;
   letter-spacing: 50px;
   padding: 0 50px;
   float: right;
}
